$cor-primaria-site:#252423;
$cor-secundaria-site:#55bc55;
$cor-terciaria-site:#393939;

$cor-primaria-Texto:#90EE90;
$cor-secundaria-Texto:#333;

$cor-primaria-card: #ccc;
$cor-secundaria-card: #868585;

// $cor-botao: #d5efd5;
$cor-botao: #90EE90;
$branco:#efefef;