$cor-primaria-site:#393939;
$cor-secundaria-site:#f2680c;
$cor-terciaria-site:#252423;

$cor-primaria-Texto:#f3936e;
$cor-secundaria-Texto:#333;

$cor-primaria-card: #ccc;
$cor-secundaria-card: #868585;

$cor-botao: #edcbbc;
$branco:#efefef;