@use '../../sass/variaveis.scss' as *;

.Nav{
    background-color: $cor-terciaria-site;
    padding: 15px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2{
        color: $cor-primaria-Texto;
        position: relative;
        display: inline-block;
        cursor: pointer;

    }
    h2::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $cor-primaria-Texto;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
    }
    h2:hover::after {
        transform: scaleX(1);
        font-size: 1.2rem;
    }

    &_pesquisa{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    input{
        padding: 8px 10px 8px 10px;
        margin-top: 12px;
        height: 40px;
        width: 450px;
        text-align: left;
        border-radius: 10px;
        border: 1px solid $cor-secundaria-site;
        outline: none;
    }
    input:focus {
        border: 1px solid $cor-primaria-site;
        box-shadow: 0 0 0 2px $cor-primaria-Texto;
        outline: none;
      }
    &__search-Lupa{
        position: absolute;
        left: 172px;
        transform: translateY(95%);
    }
    img{
        margin-top: 12px;
        margin-right: -10px;
        background: $branco;
        padding: 8px 14px 7px 7px;
        border-radius: 5px;
    }

    @media screen and (max-width: 1026px){     
        input{
            width: 360px;
        }
    }

    @media screen and (max-width: 376px){     
        padding: 8px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input{
            width: 150px;
            padding: 3px 4px 3px 10px;
            margin-top: 10px;
            height: 25px;
        }
        img{
            margin-top: 10px;
            margin-right: -9px;
            padding: 4px 12px 4px 3px;
            border-radius: 5px;
            width: 28px;
        }

        h2{
            font-size: 0.75rem;
        }
    }
}